.Menu,
.Content,
.Footer {
	align-items: center;
	display: flex;
	justify-content: center;
}

/* Top bar */
.Menu {
	background-color: #000;
	box-shadow: 0 0 7px 0 rgba(109, 113, 117, .5);
	color: #fff;
	justify-content: space-between;
	height: 50px;
	padding: 0 10px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
.Menu h2 { font-family: Rokkitt; font-size: 1.1em; }
.Menu span { cursor: pointer; }
.Menu span:hover { color: #93e473; text-decoration: underline; }



/* Above */
.Content {
	padding: 50px 10px;
	height: 100vh;
	flex-wrap: wrap;
}
.Content,
.Content-theme-light {
	background-color: #FFF;
	color: #000;
}
.Content-theme-dark {
	background-color: #000;
	color: #FFF;
}

.Content h1,
.Content h2 {
	font-weight: 200;
	padding: 0;
	line-height: 1.5;
	margin: 0;
	transition: .1s;
}
.Content strong { border-bottom: 1px solid transparent; cursor: pointer; }
.Content-theme-light strong:hover { border-bottom-color: #000; }
.Content-theme-dark strong:hover { border-bottom-color: #FFF; }
.Content a { color: inherit; text-decoration: none; }
.Content div[class=icons] {
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin: 25px 12.5px;
}
.Content img {
	cursor: pointer;
	height: 25px;
	width: 25px;
	transform: none;
}
.Content img:hover { animation: reel .6s linear; animation-fill-mode: forwards; }



/* Extras */
@keyframes reel {
	from { transform: scale(1) rotate(0); }
	25% { transform: scale(1.5) rotate(3deg); }
	37% { transform: scale(1.5) rotate(-3deg); }
	50% { transform: scale(1) rotate(6deg); }
	75% { transform: scale(1) rotate(-6deg); }
	90% { transform: scale(1) rotate(3deg); }
	to { transform: scale(1.2) rotate(-3deg); }
}


@media screen and (min-width: 768px) {
	.Content div[class=above] { font-size: 22px; }
}
